[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-ttcn3"]
	path = .vim/bundle/vim-ttcn3
	url = http://github.com/5nord/vim-ttcn3.git
[submodule ".vim/bundle/gruvbox-material"]
	path = .vim/bundle/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
